/*
firstcolor:#08526d
secondcolor:#ec1c23
*/



.upper-bar {
    background-color: #08526d;
    color: #eee;
}

.upper-bar .info {
    margin: 15px 0;
}
@media (max-width :576px) {
    .upper-bar .get-qoute {
        border: none;
    }
    .upper-bar .info:first-child{
        margin-bottom: 0;
    }
}

.upper-bar .span {
    color: #bfc6c9
}

.upper-bar .get-qoute {
    display: inline-block;
    border: 1px solid #ec1c23;
    padding: 2px 10px;
    margin-left: 20px;
}
@media (max-width :576px) {
    .upper-bar .get-qoute {
        border: none;
    }
}

/* End Upper Bar */

/* Start Navbar */

.navbar{
    padding: 20px;
}

.navbar-brand > span{
    font-size: 40px;
    
}

.navbar-brand span:first-child{
    color: #08526d;
    font-weight: bold;
}

.navbar-brand span:last-child{
    color: #ec1c23;
}

.navbar-nav .nav-link{
    font-size: 16px;
    text-transform: uppercase;
    margin-left: 20px;
    color: #08526d !important;
    font-weight: bold;
}    

.navbar-nav .active > .nav-link {
    color:  #ec1c23 !important;
}

/* End Navbar */

/*Start Slider*/
.slider .carousel-inner h1 {
    position: absolute;
    color: #fff;
    z-index: 3;
    font-size: 60px;
    max-width: 700px;
    line-height: 1.7;
    left: 100px;
}

@media (max-width:768px){
    .slider .carousel-inner h1 {
        left: auto;
        font-size: 40px;
        max-width: 100%;
        text-align: center;
    }
}

.slider .carousel-inner{
    display: flex;
    align-items: center;
    justify-content: left;
}


.slider .carousel-inner h1 span {
    background-color: #ec1c23;
    color: #fff;
    padding: 2px;
}

.slider .carousel-inner .overlay {
    position: absolute;
    background-color: rgba(0,0,0,.6);
    width: 100%;
    height: 100%;
    z-index: 2;
}

.slider .carousel-indicators li {
    height: 8px;
}

/*End slider*/

/* Start Features*/

.features {
    padding: 50px 0;
}

.features i {
    background-color: #ec1c23;
    color: #fff;
    width: 100px;
    height: 100px;
    line-height: 100px;
    border-radius: 50%;
    margin-bottom: 20px;
}
.features h3 {
    color: #08526d;
}

.features p {
    color: #989898;
    margin-bottom: 40px;
}

/* End Features*/

/* Start Overview */

.overview {
    padding: 100px;
    background-color: #caecfa;
}

.overview h2 {
    font-size: 50px;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 30px;
}
.overview p{
    font-size: 20px;
    width: 80%;
    margin: 0 auto 20px;
    color: #6a6a6a;
}

.overview h4{
    letter-spacing: 2px;
    font-weight: normal;
    color: #acacac;
    margin-bottom: 60px;
}

.overview button{
   background-color: #ec1c23;
    color: #fff;
    padding: 10px 20px;
    font-size: 20px;
    font-weight: bold;
    border: 1px solid #ec1c23;
}

/* End Overview */

/* Strat Featured Work */
.featured-work{
    padding: 100px 0;
}
.featured-work h2 {
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 20px;
}

.featured-work p{
    font-size: 20px;
    width: 80%;
    margin: 0 auto 20px;
    color: #6a6a6a;
}

.featured-work ul{
    margin-top: 40px;
}

.featured-work ul li{
    color: #08526d;
    border: 2px solid #08526d;
    padding: 15px 7px;
    margin-left: 10px;
    margin-bottom: 10px;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out
}


.featured-work ul li.active,
.featured-work ul li:hover{
    background-color: #ec1c23;
    border: 2px solid #ec1c23; ;
    color: #fff;
}
.featured-work ul li:hover{
    cursor: pointer;
}

.featured-work .shuffle-imgs .row {
    margin: 0;
}


.featured-work .shuffle-imgs .row .col-md {
    padding: 0;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out
}
.featured-work .row img {
    width: 100%;
}


/* End Featured Work*/

/* Start Latest Post */
.latest-post{
    padding: 0 0 100px;
}
.latest-post h2 {
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 20px;
}

.latest-post .p{
    font-size: 20px;
    width: 80%;
    margin: 0 auto 20px;
    color: #6a6a6a;
}

.latest-post .card .card-title {
    font-size: 20px;
    line-height: 1.5;
    color: #08526d;
    font-weight: bold;
}
.latest-post .card .card-text{
    color: #818283;
    margin-bottom: 10px;
}

.latest-post .card .card-link {
    color: #ed1d24;
    font-weight: bold;
}

/* End Latest Post */

/* Start Pricing Table */
.pricing-table{
    background-color: #f7f7f7;
    padding: 100px; 0 100px;
}
.pricing-table h2 {
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 20px;
}

.pricing-table .p{
    font-size: 20px;
    width: 80%;
    margin: 0 auto 20px;
    color: #6a6a6a;
}
.pricing-table .card {
    margin-bottom: 30px;
}
.pricing-table .card-body {
    padding: 0;
    box-shadow: 5px 5px 10px  #000;
}


.pricing-table .card .card-title {
    font-size: 30px;
    line-height: 1.5;
    color: #08526d;
    font-weight: bold;
    margin-top: 40px;
}
.pricing-table .card .card-text{
    color: #08526d;
    margin-bottom: 5px;
    margin: 30px 0 10px;
    background-color: #fafafa;
    padding: 10px;
    font-size: 30px;
    font-weight: bold;
}
.pricing-table .card .card-text span {
    font-size: 15px;
    text-transform: uppercase;
}

.pricing-table .list-group-item {
    border: none;
}

.pricing-table .card .card-link {
    background-color: #ed1d24;
    color: #fff;
    font-weight: bold;
    display: inline-block;
    padding: 10px 17px;
    margin-top: 15px;
    margin-bottom: 30px;
    font-size: 15px; 
    text-transform: uppercase;
}

.pricing-table .card.active {
    position: relative;
    top: -15px;
}

.pricing-table .card.active .card-text {
    background-color: #ec1c23;
    color: #fff;
}

.pricing-table .card.active .card-link {
    background-color: #08526d;
}

/* End Pricing Table */

/* Start Choose US */
.choose-us img {
    max-width: 100%;
}


.choose-us .col-6 {
    padding: 0;
}

.choose-us .col-lg-6:last-child{
    background-color: #08526d;
    color: #fff;
    padding-top: 50px;
}

.choose-us .h1 {
    margin: 40px;
}
.choose-us p {
    margin: 40px;
    line-height: 2;
    font-size: 18px;
}
.choose-us .read-more {
    display: inline-block;
    padding: 6px 20px;
    margin: 0 0 20px 40px;
    background-color: #ec1c23;
    color: #fff;
    font-size:20px;
    font-weight: bold;
    text-transform: uppercase;
}


/* End Chosse Us*/

/* start stats*/

.stats {
    padding: 100px 0;
    color: #08526d;
}

.stats span {
    display: block;
    font-size: 50px;
    font-weight: bold;
}

.stats p {
    color: #ec1c23;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}
/* End stats*/

/* Start Contact us */

.contact-us {
    padding: 100px 0;
    background-color: #ec1c23;
    color: #fff;
    font-size: 25px;
}

.contact-us p {
    margin: 0;
}

@media (max-width: 992px){
    .contact-us p {
        margin-bottom: 20px;
    }
}

.contact-us a {
    color: #fff;
    border: 2px solid #fff;
    padding: 8px 15px;
    text-transform: uppercase;
    font-weight: bold;
}
/* End contact us*/

/* Start Footer*/
.footer {
    padding: 100px 0;
}
.footer .site-info h2 {
    font-size: 50px;
    margin-bottom: 40px;
}

.footer .site-info h2 span:first-child{
    color: #08526d;
    font-weight: bold;
}

.footer .site-info h2 span:last-child{
    color: #ec1c23;
}

.footer .site-info p {
   line-height: 1.8;
    color: #888888;
}
.footer .site-info a {
    color: #08526d;
    font-size: 15px;
    font-weight: bold;
}

.footer .site-info a:before {
    font-family: 'FontAwesome';
    content: "\f138";
    display: inline-block;
    margin-right: 5px;
}

.footer .helpful-links h2,
.footer .contact h2{
    font-size: 20px;
    font-weight: bold;
    color: #08526d;
    margin-bottom: 70px;
}

.footer .helpful-links ul li:before {
    font-family: 'FontAwesome';
    content: '\f054';
    margin-right: 5px;
    color: #08526d;
    font-size: 12px;
}

.footer .contact ul li {
    margin-bottom: 22px;
}

@media (max-width: 992px) {
    
.footer .helpful-links h2,
    .footer .contact h2 {
        margin-bottom: 20px;
        margin-top: 20px;
    }
}

/* End footer */

/* Start Copyright*/
.copyright {
    border-top: 1px solid #838383;
    padding: 20px;
}

@media (max-width :992px){
    .copyright .text-uppercase {
        margin-bottom: 20px;
    }
}

.copyright .text-uppercase{
    color: #777;
    font-size: 15px;
    font-weight: bold;
}

.copyright ul {
    margin: 0;
}

.copyright ul li {
    display: inline-block;
    margin-left: 20px;
    font-size: 15px;
    
}

.copyright ul li a {
    color: #777;
}

.copyright ul li a .fa-facebook:hover{
    color: #3b5999;
    transform: scale(2,2);
    transition: all .5s ease-in-out;
}
.copyright ul li a .fa-twitter:hover{
    color: #55acee;
    transform: scale(2,2);
    transition: all .5s ease-in-out;
}

.copyright ul li a .fa-youtube:hover{
    color: #cd201f;
    transform: scale(2,2);
    transition: all .5s ease-in-out;
}

.copyright ul li a .fa-google-plus:hover{
    color: #dd4b39;
    transform: scale(2,2);
    transition: all .5s ease-in-out;
}

/* End Copyright*/

#scroll-top
{
    width: 40px;
    height: 30px;
    color: #ec1c23;
    background-color: #08526d;
    position: fixed;
    right: 20px;
    bottom: 20px;
    text-align:center;
    cursor: pointer;
    z-index: 9999;
    opacity: .7;
    display: none;

}

#scroll-top:hover{
    opacity: 1;
    transition: all .5s ease-in-out;
}